<nav>
    <h2>Menu</h2>
    <ul>
        <li><a href="/home">Home Page</a></li>
        <li><a href="/find">Find a dog/cat</a></li>
        <li><a href="/dogcare">Dog care</a></li>
        <li><a href="/catcare">Cat care</a></li>
        <li><a href="/log_in">Have a pet to give away</a></li>
        <li><a href="/createaccount">Create an Account</a></li>
        <li><a href="/log_out">Log Out</a></li>
        <li><a href="/contactus">Contact Us</a></li>
      
    </ul>
</nav>